params {
	out = 'results'	
	mode = 'salmon'
	transcriptome = false 
	reads = false 	
	single = false
	fragment_length = 300
	fragment_sd = 1
	genome = false
	gtf = false
	skip_qc = false
	sjdbGTFfeatureExon = 'exon'
	featureCounts_direction = 0
	salmon_index = false
	kallisto_index = false
	star_index = false
	save_index = false
	fastqc {
		cpus = 2
	}
	mapping {
		cpus = 20
	}
	tracedir = "${params.out}/pipeline_info"
}
process.executor = 'pbspro'

timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/dag.svg"
}


manifest {
  name = 'RNAseq'
  author = 'Gergo Palfalvi'
  homePage = 'https://github.com/palfalvi/rnaseq'
  description = 'RNA-seq mapping pipeline'
  mainScript = 'rnaseq.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}
